/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/


:root {
    --green: #008542;
    --orange: #C75B12;

    --SolarOrange: #E98300;
    --SparkOrange: #FFB612;
    --SeedlingGreen: #C9DD03;
    --SaplingGreen: #69BE28;
    --SkyBlue: #5BC6E8;
    --StratosBlue: #00A1DE;
    --SpaceBlue: #0039A6;

    --warmgrey2: #D5D2CA;
}

.bg {
    background: linear-gradient(-45deg, var(--orange), var(--SaplingGreen), var(--SpaceBlue));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    opacity: 75%;

    width: 100%;
    height: 100%;
    position: fixed;

    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#titleContainer{
    background: linear-gradient(rgba(213,210,202,0), rgba(213,210,202,0), rgba(213,210,202,0.9));
    opacity: 90%;

    height: 95vh; /* Initial height */
    overflow: hidden;
    align-content: end;

    animation: expandOnLoad 0.5s ease-in-out 0.2s forwards; /* Apply the animation */
}

@keyframes expandOnLoad {
    0% {
        height: 95vh;
    }
    100% {
        height: 70vh;
    }
}

#ChatTitle {
    Color: white;
    font-size: 15vh;
    font-family: "Climate Crisis", sans-serif;

}
#feedContainer{
    background: var(--warmgrey2);
    opacity: 80%;

    height: 100vh;
}

/*news*/
#newsContainer{
    height: 75vh;
    overflow-y: scroll;
}
.newsCard{
    margin-bottom: 5vh;
}
/*events*/
#eventContainer{
    margin-top: 5vh;
}
#eventContainer span{
    font-size: 12px;
}

.input{
    position: fixed;
    right:0;
    left: 0;
    margin: auto;
    bottom: 2.5vh;
}



#chatspace {
    width: 100%;
    height: 100vh;

    opacity: 90%;

    z-index: -1;
}

#Chatbox {
    height: 95vh;
    align-content: end;

    background: linear-gradient(rgba(213,210,202,0), rgba(213,210,202,1));
}




#mainpage {
    padding-top: 5vh;

}