@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: #1b1c1d;
        --textColor: #0F0F0F;

        --titleGradient: linear-gradient(#00000000, #00000000, #1b1c1dE5);
    }

    #titleContainer {
        background-color: var(--bgColor); /* Your desired solid background color */
    }

    #ChatTitle {
        color: transparent;
        background: linear-gradient(-45deg, var(--orange), var(--SaplingGreen), var(--SpaceBlue));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;

        background-clip: text; /* Standard way to clip the background to the text shape */
        mix-blend-mode: difference;
    }

    #feedContainer, #chatbot {
        opacity: 90%;
    }

    #chatbot {
        opacity: 90%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bgColor: #D5D2CA;
        --textColor: #FAFAFA;

        --titleGradient: linear-gradient(#D5D2CA00, #D5D2CA00, #D5D2CAE6);
    }

    #titleContainer {
        background: var(--titleGradient);
    }

    #ChatTitle {
        color: var(--textColor);
    }

    #feedContainer, #chatbot {
        opacity: 80%;
    }
}

:root {

    --green: #008542;
    --orange: #C75B12;

    --SolarOrange: #E98300;
    --SparkOrange: #FFB612;
    --SeedlingGreen: #C9DD03;
    --SaplingGreen: #69BE28;
    --SkyBlue: #5BC6E8;
    --StratosBlue: #00A1DE;
    --SpaceBlue: #0039A6;

    --warmgrey2: #D5D2CA;
    --warmgrey6: #A59D95;
    --warmgrey10: #766A62;
}

html{
    box-shadow: inset var(--bgColor) 0 10vh;
}

html::-webkit-scrollbar {
    background-color: var(--bgColor);
    width: 7px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--warmgrey6);
    border-radius: 10px;
    width: 1em;
}


.bg {
    background: linear-gradient(-45deg, var(--orange), var(--SaplingGreen), var(--SpaceBlue));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    opacity: 75%;

    width: 100%;
    height: 100%;
    position: fixed;

    z-index: -1;
}

.bgIMG {
    /*background-image:*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#titleContainer {
    opacity: 90%;

    height: 95vh; /* Initial height */
    overflow: auto;
    vertical-align: bottom;
    align-content: flex-end;


    animation: expandOnLoad 0.5s ease-in-out 0.2s forwards; /* Apply the animation */
}
#titleContainer .container{
    vertical-align: bottom;
    align-content: flex-end;
    bottom: 0;
}
#titleContainer::-webkit-scrollbar {
  display: none;
}

@keyframes expandOnLoad {
    0% {
        height: 95vh;
    }
    100% {
        height: 70vh;
    }
}

#ChatTitle {
    font-size: 15vmin;
    font-family: "Climate Crisis", sans-serif;

}

#ChatTitle a {
    font-size: 12vmin;
    font-family: "Climate Crisis", sans-serif;

}
#chatbot .prompt, #chatbot .response{
    margin: 1vmin;
    padding: 1vmin;

    width: 50vw;
}

#chatbot .prompt{
    float: right;
    background-color: var(--SolarOrange);
}
#chatbot .response{
    float: left;
}

.input{
    padding-top: 5vmin;
    background-color: var(--bgColor);
}

#mainpage .smContainer {
    margin-bottom: 5vh;
}

#feedContainer {
    background: var(--bgColor);
    padding-bottom: 5vh;
}

@media (min-width: 768px) {
    #rightFeed {
        align-self: flex-start;

        position: sticky;
        top: 5vh;
    }

    #eventContainer ul {
        height: 60vh;
        overflow: auto;
    }

    #eventContainer ul::-webkit-scrollbar {
        background-color: var(--bgColor);
        width: 7px;
    }

    #eventContainer ul::-webkit-scrollbar-thumb {
        background-color: var(--warmgrey6);
        border-radius: 10px;
        width: 1em;
    }

}

/*news*/
#newsContainer {
    /*height: 70vh;*/
    /*overflow-y: scroll;*/

    padding-top: 2.5vh;
    padding-right: 5vh;
    background-color: var(--bgColor);
}


.newsCard {
    margin-bottom: 5vh;
}

/*events*/
#eventContainer {
    margin-top: 5vh;
}

#eventContainer a {
    font-size: 12px;
}

.list-group-item a {
    float: right;
}

/*chatbot*/


/*.input {*/
/*    position: fixed;*/
/*    right: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    bottom: 0;*/

/*    background: var(--titleGradient);*/
/*}*/

/*.input div {*/
/*    padding-bottom: 2.5vh;*/
/*}*/
